    <html>  
    <head>  
        <!--user_info是一个对象，user_name则是该对象的一个属性-->  
        <title>Edit Info for User: {{user_info.user_name}}</title>  
    </head>  
    <body>  
    <h1>Edit User Info</h1>  
    <hr/>  
    <center>  
        <!--以POST方式将修改后的信息提交到UpdateUserInfo-->  
        <form name = 'edit_user_info' action = 'UpdateUserInfo' method = 'post' >  
                Name: <input type = 'text' name = 'user_name' value = {{user_info.user_name }} readonly/>  
                Age: <input type = 'text' name = 'user_age' value = {{user_info.user_age }} />  
                Sex: <input type = 'text' name = 'user_sex' value = {{user_info.user_sex }} />  
                Score: <input type = 'text' name = 'user_score' value = {{user_info.user_score }} />  
                Subject: <input type = 'text' name = 'user_subject' value = {{user_info.user_subject }} />  
                <input type = 'submit' value = 'Submit' />  
                <input type = 'Reset' value = 'Reset' />  
        </form>  
    </center>  
    <hr/>  
    </body>  
    </html>  